<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<!-- ICCUPR -->
	<preference for="ECInternet\Sage300Pricing\Api\IccuprRepositoryInterface"
	            type="ECInternet\Sage300Pricing\Model\IccuprRepository" />
	<preference for="ECInternet\Sage300Pricing\Api\Data\IccuprInterface"
	            type="ECInternet\Sage300Pricing\Model\Data\Iccupr" />
	<preference for="ECInternet\Sage300Pricing\Api\Data\IccuprSearchResultsInterface"
	            type="ECInternet\Sage300Pricing\Model\Data\IccuprSearchResults" />

	<!-- ICPRIC -->
	<preference for="ECInternet\Sage300Pricing\Api\IcpricRepositoryInterface"
	            type="ECInternet\Sage300Pricing\Model\IcpricRepository" />
	<preference for="ECInternet\Sage300Pricing\Api\Data\IcpricInterface"
	            type="ECInternet\Sage300Pricing\Model\Data\Icpric" />
	<preference for="ECInternet\Sage300Pricing\Api\Data\IcpricSearchResultsInterface"
	            type="ECInternet\Sage300Pricing\Model\Data\IcpricSearchResults" />

	<!-- ICPRICP -->
	<preference for="ECInternet\Sage300Pricing\Api\IcpricpRepositoryInterface"
	            type="ECInternet\Sage300Pricing\Model\IcpricpRepository" />
	<preference for="ECInternet\Sage300Pricing\Api\Data\IcpricpInterface"
	            type="ECInternet\Sage300Pricing\Model\Data\Icpricp" />
	<preference for="ECInternet\Sage300Pricing\Api\Data\IcpricpSearchResultsInterface"
	            type="ECInternet\Sage300Pricing\Model\Data\IcpricpSearchResults" />

	<!-- beforeGetVaryString() - Add 'customer_number' for unique identifier -->
	<type name="Magento\Framework\App\Http\Context">
		<plugin name="ecinternet_sage300pricing-magento_framework_app_http_context"
		        type="ECInternet\Sage300Pricing\Plugin\Magento\Framework\App\Http\ContextPlugin" />
	</type>

	<!-- aroundGetUom() - Get "better" uom if we have pricing tables -->
	<type name="ECInternet\Sage300Account\Block\Reorder\ReorderList">
		<plugin name="ecinternet_sage300pricing-ecinternet_sage300account_block_reorder_reorderlist"
		        type="ECInternet\Sage300Pricing\Plugin\ECInternet\Sage300Account\Block\Reorder\ReorderListPlugin" />
	</type>

	<!-- Add sage300pricing to pool -->
	<type name="ECInternet\Pricing\Model\PricingSystemPool">
		<arguments>
			<argument name="pricingSystems" xsi:type="array">
				<item name="sage300" xsi:type="object">ECInternet\Sage300Pricing\Pricing\Sage300</item>
			</argument>
		</arguments>
	</type>

    <!-- Add Logger to ContextPlugin -->
	<type name="ECInternet\Sage300Pricing\Plugin\Magento\Framework\App\Http\ContextPlugin">
		<arguments>
			<argument name="logger" xsi:type="object">ECInternetSage300PricingLogger</argument>
		</arguments>
	</type>

    <!-- Add Logger to ReorderListPlugin -->
	<type name="ECInternet\Sage300Pricing\Plugin\ECInternet\Sage300Account\Block\Reorder\ReorderListPlugin">
		<arguments>
			<argument name="logger" xsi:type="object">ECInternetSage300PricingLogger</argument>
		</arguments>
	</type>

	<!-- Custom Logger - Must be injected into each class which needs it -->
	<virtualType name="ECInternetSage300PricingLogger" type="Magento\Framework\Logger\Monolog">
		<arguments>
			<argument name="handlers" xsi:type="array">
				<item name="info" xsi:type="object">ECInternet\Sage300Pricing\Logger\Handler</item>
			</argument>
		</arguments>
	</virtualType>

	<!-- Add ICCUPR, ICPRIC, and ICPRICP collections -->
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="iccupr_listing_data_source" xsi:type="string">ECInternet\Sage300Pricing\Model\ResourceModel\Iccupr\Grid\Collection</item>
				<item name="icpric_listing_data_source" xsi:type="string">ECInternet\Sage300Pricing\Model\ResourceModel\Icpric\Grid\Collection</item>
				<item name="icpricp_listing_data_source" xsi:type="string">ECInternet\Sage300Pricing\Model\ResourceModel\Icpricp\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
	<virtualType name="ECInternet\Sage300Pricing\Model\ResourceModel\Iccupr\Grid\Collection"
	             type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">ecinternet_sage300pricing_iccupr</argument>
			<argument name="resourceModel" xsi:type="string">ECInternet\Sage300Pricing\Model\ResourceModel\Iccupr</argument>
		</arguments>
	</virtualType>
	<virtualType name="ECInternet\Sage300Pricing\Model\ResourceModel\Icpric\Grid\Collection"
	             type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">ecinternet_sage300pricing_icpric</argument>
			<argument name="resourceModel" xsi:type="string">ECInternet\Sage300Pricing\Model\ResourceModel\Icpric</argument>
		</arguments>
	</virtualType>
	<virtualType name="ECInternet\Sage300Pricing\Model\ResourceModel\Icpricp\Grid\Collection"
	             type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">ecinternet_sage300pricing_icpricp</argument>
			<argument name="resourceModel" xsi:type="string">ECInternet\Sage300Pricing\Model\ResourceModel\Icpricp</argument>
		</arguments>
	</virtualType>
</config>
